body{
    /* font-family: 'felix-titling-regular'; */
    /* font-family: 'Poppins', sans-serif; */
    background-color: #100F10;
}

/* Typography  */
.gold{
    color: #C79464;
}
h1{}
h2{}
h3{
    font-family: 'Felix Titling';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.4em;
}

/* Navbar  */
.container-fluid{
    padding: 40px 0;
    width: 90%;
    max-width: 1200px;
}
.navbar-dark .navbar-brand{
    font-family: 'Felix Titling';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.09em;

    color: #C79464;
}
.navbar-collapse{
    flex-grow: unset;
}
.bg-dark{
    background-color: rgba(16, 15, 16, 0.7) !important;
}
.navbar-dark .navbar-nav .nav-link{
    font-family: 'Felix Titling';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: #F8F8F8;
}

/* Button  */
.btn{
    font-family: 'Felix Titling';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    border: 0.5px solid #F8F8F8;
    border-radius: 30px;

    padding: 12px 32px;
}
.btn-outline-primary{
    color: #F8F8F8;
    border-color: #F8F8F8;
}



/* Section  */
/* hero  */
section.hero{
    background: url('../images/img-hero.png');
    height: 900px;
}


/* mint  */
.title-wrap{
    padding: 70px 0;
    width: 100%;
}



/* Breakpoints  */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    container{
        max-width: 1200px;
    }
 }