body{
    /* font-family: 'felix-titling-regular'; */
    /* font-family: 'Poppins', sans-serif; */
    background-color: #100F10;
}

/* Navbar  */
.container-fluid{
    padding: 40px 0;
}
.navbar-dark .navbar-brand{
    font-family: 'Felix Titling';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.09em;

    color: #C79464;
}
.navbar-collapse{
    flex-grow: unset;
}
.bg-dark{
    background-color: rgba(16, 15, 16, 0.7) !important;
}
.navbar-dark .navbar-nav .nav-link{
    font-family: 'Felix Titling';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: #F8F8F8;
}
.btn{
    font-family: 'Felix Titling';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    border: 0.5px solid #F8F8F8;
    border-radius: 30px;

    padding: 12px 32px;
}
.btn-outline-primary{
    color: #F8F8F8;
    border-color: #F8F8F8;
}